@page
@model BookProject.Pages.PurchaseModel
@{
}

<table class="table table-bordered table-striped">

    @*create a table*@
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>

    @*fill table with dynamic info*@
    <tbody>
        @foreach (var i in Model.basket.Items)
        {
            <tr>
                <td>@i.Book.Title</td>
                <td>@i.Quantity</td>
                <th>@(i.Book.Price)</th>
                <th>@(i.Quantity * i.Book.Price)</th>
            </tr>
        }
    </tbody>
    
    @*Calculate total from cart*@
    <tfoot>
        <tr>
            <td colspan="3">Total:</td>
            <td>@Model.basket.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>
</table>

@*Continue purchasing!*@
<div>
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Purchasing</a>
</div>